# Python cache
__pycache__/
*.pyc

# Wirtualne środowiska
.venv/
venv/

# Biblioteki skompilowane lokalnie
cpu/lib/*.so
cpu/lib/*.dylib
apps/lib/*.so
apps/lib/*.dylib

# Pliki tymczasowe edytorów
*.swp
*.swo
.idea/
.vscode/
